<div id="bottom-outer" class="container">
  <div id="bottom-inner">
    <span>
    &copy; 2016-<%- date(Date.now(), 'YYYY') %> <%=config.author%> using
    <a style="color:#007fff;" href="http://hexo.io">Hexo</a>.
    </span>
    <% if (theme.busuanzi && theme.busuanzi.enable){ %>
      <div class="busuanzi-box">
        <!-- 不蒜子统计 -->
        <span id="busuanzi_container_site_pv">
                本站总访问量<span id="busuanzi_value_site_pv"></span>次
        </span>
        <span class="post-meta-divider">|</span>
        <span id="busuanzi_container_site_uv" style='display:none'>
                本站访客数<span id="busuanzi_value_site_uv"></span>人
        </span>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      </div>
    <% } %>
    
    <a class="footer-icon" href="https://github.com/<%=theme.github_name%>"><i class="fab fa-github"></i></a>
  </div>
</div>
<%- partial('back-top') %>
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="<%- config.root %>js/back-top.js"></script>
