<div id="bottom-outer" class="container">
  <div id="bottom-inner">
    &copy; <%- date(Date.now(), 'YYYY') %> <%=config.author%> using
    <a href="http://hexo.io">Hexo</a>.
    <a class="footer-icon" href="https://www.facebook.com/<%=theme.facebook_name%>"><i class="fab fa-facebook"></i></a>
    <a class="footer-icon" href="https://twitter.com/<%=theme.twitter_name%>"><i class="fab fa-twitter"></i></a>
    <a class="footer-icon" href="https://github.com/<%=theme.github_name%>"><i class="fab fa-github"></i></a>
  </div>
</div>