<div class="recent-post-item">
  <div class="time-box">
    <div class="day"><%=date(post.date, 'DD')%></div>
    <div class="year-month"><%=date(post.date, 'YYYY/MM')%></div>
  </div>
  <div class="left-box">
    <a class="title" href="<%=url_for(post.path)%>"><%=post.title%></a>
    <div class="post-item-excerpt">
      <%- getPostDesc(post.excerpt) %>...
    </div>
    <div class="post-base-box">
      <% if (post.tags && post.tags.length) { %>
        <div class="category-item">
          <%- list_tags(post.tags, {
              class: 'post-item-tag',
              show_count: false,
              style: 'round',
              separator: ''
          }) %>
        </div>
      <% } %>
    </div>
  </div>
  <% if (hasPhoto(post) === true) { %>
    <div class="wrap-img">
      <img src="<%=getPostPhotos(post.content)%>" alt="">
    </div>
  <% } %>
</div>

<%
  function getPostDesc(text) {
    // remove HTML Tag
    var text = text.replace(/<\/?[^>]*>/g, '');
    text = text.replace(/[|]*\n/, '');
    text = text.replace(/&npsp;/ig, '');
    if (text.length > 100) {
      text = text.substring(0, 100)
    }
    return text;
  }

  function getPostPhotos(htmlstr) {
    var reg = /<img.+?src=('|")?([^'"]+)('|")?(?:\s+|>)/gim;  
    var imgsrcArr = [];  
    while (tem = reg.exec(htmlstr)) {  
      imgsrcArr.push(tem[2]);  
    }
    if (imgsrcArr.length > 0) {
      return imgsrcArr[0]
    }
    return '';
  }

  function hasPhoto(post) {
    var photo = getPostPhotos(post.content)
    if (photo != '') {
      return true
    } else {
      return false
    }
  }
%>