<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<div class="post-content-box">
  <article id="post" class="post-detail-box box-section shadow">
    <div class="post-title">
      <%=page.title%>
    </div>
    <div class="post-base-box">
      <time datetime="<%=page.date.toJSON()%>">
        <%=_p('post.posted')%> <%=date(page.date)%>
      </time>
      <% if (page.categories && page.categories.length) { %>
        <div class="category-item">
          <%=_p('post.in')%>
          <%- list_categories(page.categories, {
              class: 'category-link-grey',
              show_count: false,
              style: 'link'
          }) %>
        </div>
      <% } %>
      <span id="busuanzi_container_page_pv">
        &nbsp;<%=_p('post.visitors')%> <span id="busuanzi_value_page_pv"></span>
      </span>
    </div>
    <div class="post-body">
      <%-page.content%>
    </div>
  </article>

  <ul class="post-pager">
    <% if (page.prev){ %>
    <li class="previous">
      <a href="<%- url_for(page.prev.path) %>">← <%=_p('post.pager.prev')%></a>
    </li>
    <% } %>
    <% if (page.next){ %>
    <li class="next">
      <a href="<%- url_for(page.next.path) %>"><%=_p('post.pager.next')%> →</a>
    </li>
    <% } %>
  </ul>

  <div class="box-section shadow box-comment">
    <!-- <%-partial('partials/disqus')%> -->
    <%- partial('partials/comment') %>
  </div>
</div>